<div id="<%= dom_id mentoring %>">
  <p>
    <strong>Nome da Mentora:</strong>
    <%= mentoring.mentor.name %>
  </p>

  <p>
    <strong>Nome da Mentorada:</strong>
    <%= mentoring.mentee.name %>
  </p>

</div>
