<p style="color: green"><%= notice %></p>

<% content_for :title, "Mentorias" %>

<h1>Mentorias</h1>

<div id="mentorings">
  <table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Nome da Mentora</th>
      <th>Nome da Mentorada</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tbody>
      <% @mentorings.each do |mentoring| %>
        <tr>
          <td><%= mentor_id.mentors.name %></td>
          <td><%= mentee_id.mentees.name %></td>
        </tr>
      <% end %>
  </tbody>
  </table>
</div>

<p><%= link_to "Nova mentoria", new_mentoring_path %></p>
